/* Style for settings the radius of the bound and maximum number of the iterations */
#baseSettingsPanel {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}





/* style of the control buttons */
#actionPanel {
    -fx-alignment: center;
    -fx-spacing: 10px;
}
#actionPanel > Button{
    -fx-pref-width: 100px;
    -fx-pref-height: 32px;
}