/* style for control panel */
#controlPanel {
    -fx-alignment: center;
    -fx-spacing: 8px;
}


/* style of the indicator of the work */
#workIndicator.waiting {
    -fx-fill: blue;
    -fx-effect: dropshadow(gaussian, blue, 6, 0, 0, 0);
}
#workIndicator.working {
    -fx-fill: red;
    -fx-effect: dropshadow(gaussian, red, 6, 0, 0, 0);
}


/* setting of the control position panel */
#controlPositionPanel {
    -fx-spacing: 10px;
}
#controlPositionPanel #controlZoomPane,
#controlPositionPanel #controlRotateShiftPane {
    -fx-spacing: 10px;
    -fx-alignment: center-left;
}


/* setting of the panel for choosing the fractal and the palette */
#fractalSettingsPanel {
    -fx-spacing: 10px;
    -fx-alignment: center;
}