/* style of the save settings */
#saveSettingPanel {
    -fx-alignment: center;
    -fx-spacing: 10px;
    -fx-padding: 10px;
}

/* style of the file choosing */
#chooseFilePanel > BorderPane {
    -fx-padding: 0px 0px 0px 10px;
}
#chooseFilePanel > Button{
    -fx-pref-height: 32px;
}

/* style of the width/height settings */
#sizeSettingPanel TextField {
    -fx-pref-width: 100px;
}
#sizeSettingPanel HBox {
    -fx-alignment: center;
    -fx-spacing: 5px;
}

/* style of the progress bar */
#progress {
    -fx-max-width: infinity;
}

/* style of the control buttons */
#actionPanel {
    -fx-alignment: center;
    -fx-spacing: 10px;
    -fx-padding: 5px;
}
#actionPanel > Button{
    -fx-pref-width: 100px;
    -fx-pref-height: 32px;
}
