/* Style of the save settings */
#saveSettingPanel {
    -fx-alignment: center;
    -fx-spacing: 10px;
    -fx-padding: 10px;
}


/* Style of the file choosing */
#chooseFilePanel > BorderPane {
    -fx-padding: 0px 0px 0px 10px;
}
#chooseFilePanel > Button{
    -fx-pref-height: 32px;
}


/* Style of the width/height settings */
#sizeSettingPanel TextField {
    -fx-pref-width: 100px;
}
#sizeSettingPanel HBox {
    -fx-alignment: center;
    -fx-spacing: 5px;
}


/* Style of the progress bar */
#progressPanel ProgressBar {
    -fx-max-width: infinity;
}
#progressPanel ProgressIndicator .percentage {
    -fx-fill: white;
}


/* Style of the control buttons */
#actionPanel {
    -fx-alignment: center;
    -fx-spacing: 10px;
}
#actionPanel > Button{
    -fx-pref-width: 100px;
    -fx-pref-height: 32px;
}
