/* Styles of the window for choice the fractal */

#root {
    -fx-spacing: 5px;
}


/* Style for settings the radius of the bound and maximum number of the iterations */
#baseSettingsPanel {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}


/* Style for settings for Julia set */
#juliaSetParamPane {
    -fx-alignment: center;
    -fx-hgap: 5px;
    -fx-vgap: 5px;
}
/* Style for settings for the complex fractal version 1 */
#complexFractalV1ParamPane {
    -fx-alignment: center;
    -fx-hgap: 5px;
    -fx-vgap: 5px;
}


/* Style of the control buttons */
#actionPanel {
    -fx-alignment: center;
    -fx-spacing: 10px;
}
#actionPanel > Button{
    -fx-pref-width: 100px;
    -fx-pref-height: 32px;
}
